<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>収入源</th>
            <th>金額</th>
            <th>期間</th>
            <th>貯金</th>
          </tr>
        </thead>
        <%# <%= @incomes.each do |income| %> %>
          <tbody>
            <tr>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
            </tr>
            <tr>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
            </tr>
          </tbody>
        <%# <% end %> %>
        <tfoot>
            <tr>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
            </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>