<div class="">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">

      </div>
    </div>
    <ul class="">
      <li>aaa</li>
    </ul>
  </nav>
</div>